.button{
    font-size: 10px;
    width: 40px;
    height: 20px;
    color: black;
    margin : 1px;
    padding: 0px;
    background-color: aliceblue;

}

th, td{
    text-align: center;
}

StandaloneToggleButton{
    width: 10px;
    height: 10px;

}